<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="main_header1">
<div class="main_header">

<form method="POST" id="main_home" action="/register">
		<input type="submit" id="main_home" value="HOME">
		</input>
	

	<form method="POST" id="main_about" action="/signin">
		<input type="submit" id="main_about" value="ABOUT US">
		</input>

	<form method="POST" id="main_work" action="/register">
		<input type="submit" id="main_work" value="OUR WORK">
		</input>


	<form method="POST" id="main_contact" action="/signin">
		<input type="submit" id="main_contact" value="CONTACT US">
		</input>
	</form>
	</form>
    </form>
	</form>
</div>
</div>
 
<img class= "main_image1" src="../images/logo.png" title="food icon" width="300" height="200"/> 

<div id="main_middlediv"></div>
<div id="main_footer"></div>